{% extends "layout.html" %}

{% block title %}
lglass » registry » {{ object.type }} » {{ object.primary_key|e }}
{% endblock %}

{% block content %}
<div class="col-md-3 well well-sm">
	{% if inverses %}
	<strong>Related objects</strong>
	<ul>
	{% for inverse in inverses %}
	<li>
		<span class="label label-default">{{ inverse.type }}</span>
		<a href="/obj/{{ inverse.type|e }}/{{ inverse.primary_key|e }}">
			<code>{{ inverse.primary_key|e }}</code>
		</a>
	</li>
	{% endfor %}
	</ul>
	{% endif %}
</div>
<div class="col-md-9">
<dl class="dl-horizontal">
	{% for item in items %}
	<dt>{{ item[0]|e }}</dt>
	{% if item[2] != None %}
	<dd><a href="/obj/{{ item[2]|e }}/{{ item[1]|e }}">{{ item[1] }}</a></dd>
	{% else %}
	<dd>{{ item[1]|e }}</dd>
	{% endif %}
	{% endfor %}
</dd>
	</div>
{% endblock %}
